body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #111;
    color: #eee;
    overflow: hidden;
}

.pages {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
    height: calc(100vh - 60px);
}

.page {
    flex: 0 0 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5em;
    padding: 1em;
    box-sizing: border-box;
    scroll-snap-align: start;
    height: 100%;
}


h1 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #00d2ff;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-template-rows: repeat(2, auto);
    gap: 1em;
    overflow-x: auto;
    padding-bottom: 1em;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-height: calc(100vh - 5em); /* keep height in check */
}

.grid::-webkit-scrollbar {
    display: none;
}

.card {
    background: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
}
.card h2 {
    margin: 0.3em 0 0;
    font-size: 1.8em;
    color: #00d2ff;
}
.card p {
    margin: 0;
    font-size: 0.9em;
    color: #aaa;
}

.card table {
    font-size: 0.85em;
    letter-spacing: 0.3px;
}

.card td, .card th {
    padding: 0.3em 0.4em;
    font-weight: normal;
}

.icon {
    font-size: 2em;
    margin-bottom: 0.3em;
}

.moonicon {
    font-size: 5em;
    margin-bottom: 0.3em;
}
