<!DOCTYPE html>
<html>
<head>
    <title>Home Weather Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Home Weather Dashboard</h1>

    <div class="grid">

        <div class="card">
            <div class="icon">📅</div>
            <h2>Forecast</h2>
            <table style="margin: auto;">
                <tr><th>Day</th><th>Min</th><th>Max</th><th>Rain</th></tr>
                {% for i in range(5) %}
                <tr>
                    <td>{{ forecast.dates[i] }}</td>
                    <td>{{ forecast.min_temps[i] }}°</td>
                    <td>{{ forecast.max_temps[i] }}°</td>
                    <td>{{ forecast.rainfall[i] }} mm</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="card">
            <div class="icon">🌙</div>
            <h2>Moon Phase</h2>
            <p>{{ moon }}</p>
        </div>

        <div class="card">
            <div class="icon">🌤️</div>
            <h2>{{ weather.location }} Weather</h2>
            <p>Temp: {{ weather.temp }}°C</p>
            <p>Humidity: {{ weather.humidity }}%</p>
            <p>Conditions: {{ weather.summary }}</p>
        </div>

        <div class="card">
             <div class="icon">💨</div>
            <h2>{{ weather.location }} Wind</h2>
            <p>Wind Speed: {{ weather.windkmh }} km/h</p>
            <p>Direction: {{ weather.winddir }}%</p>
            <p>Gusts: {{ weather.gustkmh }} km/h</p>
        </div>

        <div class="card">
            <div class="icon">🌡️</div>
            <h2>{{ weather.location }} Pressure</h2>
            <p>Pressure: {{ weather.pressure }} hPa</p>
        </div>

        <div class="card">
            <div class="icon">🏠</div>
            <h2>Indoor</h2>
            <p>Temp: {{ indoor.temp }}°C</p>
            <p>Humidity: {{ indoor.humidity }}%</p>
            <p>Air Quality Index: {{ indoor.aqi }}</p>
        </div>
    </div>
</body>
</html>