<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Settings</h1>
    <form method="post">
        <div class="card">


            <label for="LOCATION">Location:</label><br>
            <input type="text" name="LOCATION" value="{{ config.LOCATION }}" size="100"><br><br>

            <label for="COUNTRY">Country:</label><br>
            <input type="text" name="COUNTRY" value="{{ config.COUNTRY }}" size="100"><br><br>

            <label for="LAT">Latitude:</label><br>
            <input type="text" name="LAT" value="{{ config.LAT }}" size="100"><br><br>

            <label for="LONG">Latitude:</label><br>
            <input type="text" name="LONG" value="{{ config.LONG }}" size="100"><br><br>

            <label for="BOM_JSON_URL">BOM JSON URL:</label><br>
            <input type="text" name="BOM_JSON_URL" value="{{ config.BOM_JSON_URL }}" size="100"><br><br>

            <label for="OPEN_METEO_FORECAST_URL">Open-Meteo Forecast URL:</label><br>
            <input type="text" name="OPEN_METEO_FORECAST_URL" value="{{ config.OPEN_METEO_FORECAST_URL }}" size="100"><br><br>

            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>
